*{
    box-sizing: content-box;
}

html,body{
    height: 99%;
    background: radial-gradient(circle, rgba(17,54,83,1) 0%, rgba(13,30,46,1) 100%);
}

.container {
    width: 48rem;
    height: 48rem;
    align-content: center;
    margin-left: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 25px;
    border: 2px solid white;
  }
  
  .board{
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      height: 7vh;
      width: 60%;
      margin-left: 20%;
      margin-top: 2%;
   }

   .flagSpan ,#emoji ,#timer{
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 29px;
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
 }

 
  .grid {
    height: 450px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 21%;
    margin-top: 80px;
    border: 2px solid #e7eae700;
    margin-bottom: 10px;
    gap: 5px;
  }
  
  div {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    
  }

  .valid {
    height: 40px;
    width: 40px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #7cc7fd;
  }
  

  .valid:active , .mine:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  .checked {
    height: 40px;
    width: 40px;
    background-color: #ebb630;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .mine {
    height: 40px;
    width: 40px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #7cc7fd;
  }
  

  
  .one {
    color: #e9441f;
  }
  
  .two {
    color: #059afd;
  }
  
  .three {
    color: #0dff11;
  }
  
  .four{
    color: #d400ff;
  }
  
  #result {
    height: 5em;
}

  #result  > p{
    margin-top: 4%;
    margin-left: 2%;
    color: white;
    font-size: 2em;
  }

  .resetBtn{
      position: absolute;
      top: 12%;
      left: 39vw;
      width: 29rem;
      height: 2rem;
      border: 2px solid;
      border-radius: 25px;
      border-color: white;
      background-color: #0e0d0921;
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 8px;
      color: white;
    }



    @media all and (min-width: 768px) and (max-width: 1024px) {
        .container{
            margin-left: 13%;
            box-sizing: content-box;
        }
        .resetBtn{
            left: 19.5rem;
            top: 125px;
            width: 25.5rem;

          }
          .flagSpan ,#emoji ,#timer{
            padding: 4px 4px;
            height: 3rem;
         }
     }


     @media all and (min-width: 480px) and (max-width: 768px) { 
        .container{
            margin-left: 6%;
            width: 40rem;
            height: 40rem;
        }

        .grid{
            margin-left: 18%;
            margin-top: 5%;
        }

        .resetBtn{
            top: 65%;
            left: 3.5em;
            width: 72%;
            height: 5%;
          }

          .flagSpan ,#emoji ,#timer{
            padding: 2px 2px;
         }

         #result > P{
            font-size: 45PX;
            margin-top: 1%;
          }
          .board{
            width: 80%;
            margin-top: 2%;
            margin-left: 10%;
    
         }
     }


     
@media all and (max-width: 480px) { 
    .container{
        margin-left: 4%;
        width: 22rem;
        height: 38rem;
    }

    .board{
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;

     }

    .grid{
        margin-bottom: 80%;
        margin-left: 5%;
        width: 320px;
        border: none;
    }
    

    .resetBtn{
        top: 82%;
        left: 45px;
        width: 75%;
        height: 5%;
      }

      #result {
        position: relative;
        bottom: 45%;
    }

    
    #result > P{
      font-size: 25PX;
    }

      .flagSpan ,#emoji ,#timer{
        padding: 1px 5px;
        font-size: 18px;
     }

     .valid {
        height: 27px;
        width: 27px;

      }
      
      .checked {
        height: 27px;
        width: 27px;

      }
      
      .mine {
        height: 27px;
        width: 27px;
      }

      div {
        font-size: 18px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
      }
}